<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>


  <body background="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/658a4b53118539.592b101abee14.gif">
      <h1> WELCOME TO THE LOVE4PETS LOGIN PAGE </h1>
        <p><a href="/home"> LOVE4PETS </a></p>




  <div class="container">
    <label for="uname"><b>Username: </b></label>
    <input type="text" placeholder="Enter Username" name="uname" required><br><br>

    <label for="psw"><b>Password: </b></label>
    <input type="password" placeholder="Enter Password" name="psw" required><br><br>

    <button type="submit"><a href="/home">  login </a></button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>
</form>
