<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <title> LOVE4PETS </title> <!-- title of your website that shows in the browser tab only-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- links the bootstrap library -->
    <link rel="stylesheet" href="../styles/styles.css"> <!-- links your style.css file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- imports bootstrap -->
    <link rel="stylesheet" type="text/css" href="../styles/styles.css"> <!-- imports styles.css stylesheet -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <title>Final Project</title>
  </head>
  <body>
    <!-- everything goes here between the <body> tags -->
   <div2>
<!--      <img src="https://www.brandcrowd.com//maker/asset/draft/b65c2113-1f74-4e2b-93a4-2be7d0f84dbf/image/large.png" alt="..."> -->
  <h1 style="background-color:rgba(255, 99, 71, 0.5);"> LOVE4PETS - PET CARE WEBSITE </h1>
</div2>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#"> <img src="https://image.flaticon.com/icons/png/128/489/489868.png" alt="..."> </a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
<div class="navbar-nav">
  <a class="nav-item nav-link active" href="/"> <strong> HOME </strong> <span class="sr-only">(current)</span></a>
  <a class="nav-item nav-link" href="/dogs"> <strong> DOGS </strong></a>
  <a class="nav-item nav-link" href="/cats"> <strong> CATS </strong> </a>
  <a class="nav-item nav-link" href="/goldfish"> <strong> GOLDFISH </strong> </a>
    <a class="nav-item nav-link" href="/snakes"> <strong> SNAKE </strong> </a>
    <a class="nav-item nav-link" href="/mice"> <strong> MICE </strong> </a>
   <a class="nav-item nav-link" href="#"> <img src="https://image.flaticon.com/icons/png/128/1933/1933980.png" alt="..."> </a>
    <a class="nav-item nav-link" href="/petstores"> <strong> PET STORES </strong> </a>
    <a class="nav-item nav-link" href="vets"> <strong> VETS </strong> </a>
  <a class="nav-item nav-link" href="#"> <img src="https://image.flaticon.com/icons/png/128/489/489868.png" alt="..."> </a>

</div>
</div>
</nav>


    <h5>
      where we help you care for your pets and meet the needs all in one
    </h5>

    <p>
      Our website offers easy assessible information on how to take care of your pet. We believe all pets should be treated with care and raised in a healthy environment.

<!--     <img src="http://www.dogbazar.org/wp-content/uploads/2013/10/banner-08.jpg" width="1370" height="400" alt="..."> -->


<!--     the big slidy image -->

<div class="card-deck">
  <div class="card">
    <img src="https://thehappypuppysite.com/wp-content/uploads/2017/03/dog-sizes-1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h12 class="card-title">Basics</h12>
      <p15 class="card-text">:Dogs should be handled with much care. Dogs need lots of attention, which ranks their difficulty at hard.
      </p15>
  </div>
  <div class="card">
    <img src="https://puplifetoday.com/wp-content/uploads/2018/07/dog-food-for-puppies.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h12 class="card-title">Food</h12>
      <p15 class="card-text">:Dogs should be fed one bowl a day according to their size. They should eat dry or wet commercial dog foods. Try to avoid human food, and give thems snacks meant for dogs.</p15>
    </div>
  </div>
  <div class="card">
    <img src="https://www.abc.net.au/cm/rimage/10697242-16x9-xlarge.jpg?v=2" class="card-img-top" alt="...">
    <div class="card-body">
      <h12 class="card-title">Needs</h12>
      <p15 class="card-text"> : Dogs will need to be groomed. Smaller dogs often require more grooming than large dogs. Every dog needs to be spayed or nutered as well </p15>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card">
    <img src="https://i.ytimg.com/vi/yfiAwfFO5gs/maxresdefault.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h12 class="card-title">DANGERS</h12>
      <p15 class="card-text"> : There are many things that are harmful to a dog, but be especially careful with what you feed your dog. You should never feed your dog grapes, rasisns, or chocolates. This will cause serious pain for your dog, and maybe even death.
  </div>

<!-- <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>John Doe</h1>
      <p>Architect & Engineer</p>
      <p>We love that guy</p>
    </div>
  </div>
</div> -->


<!--login page below-->




    <!-- do not remove below imports bootstrap and jQuery libraries -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/script.js" defer></script> <!-- links for script.js file -->
    <script src="../scripts/script.js"></script>
  </body>
</html>
