<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <title> LOVE4PETS </title> <!-- title of your website that shows in the browser tab only-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- links the bootstrap library -->
    <link rel="stylesheet" href="../styles/styles.css"> <!-- links your style.css file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- imports bootstrap -->
    <link rel="stylesheet" type="text/css" href="../styles/styles.css"> <!-- imports styles.css stylesheet -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <title>Final Project</title>
  </head>
  <body>
    <!-- everything goes here between the <body> tags -->


    <nav id="novi" class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

      <a class="nav-item nav-link" href="/dogs" class="left"> <strong> <img src="https://img.icons8.com/ios/50/000000/dog.png"> </strong></a>
      <a class="nav-item nav-link" href="/cats" class="left"> <strong> <img src="https://img.icons8.com/ios/50/000000/cat.png"> </strong> </a>

      <a class="nav-item nav-link" href="/goldfish" class="left"> <strong> <img src="https://img.icons8.com/ios/50/000000/whole-fish.png"> </strong> </a>
        <a class="nav-item nav-link" href="/snakes" class="left"> <strong> <img src="https://img.icons8.com/ios/50/000000/snake.png"> </strong> </a>
        <a class="nav-item nav-link" href="/mice" class="left"> <strong> <img src="https://img.icons8.com/dotty/50/000000/mouse-animal.png"> </strong> </a>
        <a class="nav-item nav-link active" href="/home" id="w"> <strong> LOVE4PETS </strong> <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/petstores"> <strong><img src="https://img.icons8.com/ios/50/000000/online-store.png"></strong> </a>
        <a class="nav-item nav-link" href="vets"> <strong> <img src="https://img.icons8.com/ios/50/000000/hospital.png"> </strong> </a>
        <a class="nav-item nav-link" href="/"> <strong><img src="https://img.icons8.com/cotton/50/000000/person-male--v2.png"></strong> </a>



    </div>
    </div>
    </nav>



<center><iframe  id="store-map"src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d50453.40363108065!2d-122.2576181!3d37.7821243!3m2!1i1024!2i768!4f13.1!2m1!1spet+stores!5e0!3m2!1sen!2sus!4v1564167691977!5m2!1sen!2sus" width="600px" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe>
  </center>
