<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <title> LOVE4PETS </title> <!-- title of your website that shows in the browser tab only-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- links the bootstrap library -->
    <link rel="stylesheet" href="../styles/styles.css"> <!-- links your style.css file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- imports bootstrap -->
    <link rel="stylesheet" type="text/css" href="../styles/styles.css"> <!-- imports styles.css stylesheet -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <title>Final Project</title>
  </head>
  <body>
    <!-- everything goes here between the <body> tags -->
   <div2>
<!--      <img src="https://www.brandcrowd.com//maker/asset/draft/b65c2113-1f74-4e2b-93a4-2be7d0f84dbf/image/large.png" alt="..."> -->
  <h1 style="background-color:rgba(255, 99, 71, 0.5);"> LOVE4PETS - PET CARE WEBSITE </h1>
</div2>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#"> <img src="https://image.flaticon.com/icons/png/128/489/489868.png" alt="..."> </a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
<div class="navbar-nav">
  <a class="nav-item nav-link active" href="/"> <strong> HOME </strong> <span class="sr-only">(current)</span></a>
  <a class="nav-item nav-link" href="/dogs"> <strong> DOGS </strong></a>
  <a class="nav-item nav-link" href="/cats"> <strong> CATS </strong> </a>
  <a class="nav-item nav-link" href="/goldfish"> <strong> GOLDFISH </strong> </a>
    <a class="nav-item nav-link" href="/snakes"> <strong> SNAKE </strong> </a>
    <a class="nav-item nav-link" href="/mice"> <strong> MICE </strong> </a>
   <a class="nav-item nav-link" href="#"> <img src="https://image.flaticon.com/icons/png/128/1933/1933980.png" alt="..."> </a>
    <a class="nav-item nav-link" href="/petstores"> <strong> PET STORES </strong> </a>
    <a class="nav-item nav-link" href="/vets"> <strong> VETS </strong> </a>
  <a class="nav-item nav-link" href="#"> <img src="https://image.flaticon.com/icons/png/128/489/489868.png" alt="..."> </a>

</div>
</div>
</nav>


<center><iframe id="store-map"src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d50453.31809353283!2d-122.25761813766673!3d37.782249610028636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1svets!5e0!3m2!1sen!2sus!4v1564169032642!5m2!1sen!2sus" width="600px" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe>
  </center>
